/* Basics ------------------------------------------------------------------------ */

html {
  background: url(img/scottish-mountains.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  color: #FFF;
  text-align: center;
  font: 400 100% 'Montserrat', sans-serif;
  overflow: hidden;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.6);
}

/* Commons ------------------------------------------------------------------------ */

header, section, footer, #social { overflow: hidden; }
section, footer {padding: 90px 0;}
p {
    font-size: 1em;
    line-height: 90%;
}


/* Container ------------------------------------------------------------------------ */

.container {
  position: absolute;
  width: 85%;
  height: auto;
  margin: auto;
  max-height: 424px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .logo {

    i {
      display: block;
      margin: 0 auto;
      width: 82px;
      height: 97px;
      background-position: 0 -64px;
    }
  }

  .content {

    h1 {
      margin-bottom: 0;
      color: #A89060;
      font-size: 4em;
      font-weight: 700;
      letter-spacing: -6px;

      @media (max-width: 750px) {
				font-size: 3em;
				letter-spacing: -5px;
			}

      @media (max-width: 475px) {
        font-size: 1.7em;
        letter-spacing: -3px;
      }
		}

    h2 {
      margin-top: 0;
      font: italic 400 1em 'Noto Serif', serif;

      a:link, a:visited {
        color: #FFF;
        text-decoration: none;
      }

      a:hover, a:active {
          text-decoration: none;
          border: none;
          color: #8FC067;
          transition: color 0.5s ease;
      }
    }

    .contact {
      font-size: .9em;
      margin: 50px auto 30px;
    }

    .contact:link,
    .contact:active {
      text-transform: uppercase;
      display: block;
      padding: 10px 15px;
      width: 120px;
      color: #fff;
      text-align: center;
      text-decoration: none;
      border: 1px solid #808080;
      transition: background-color 0.5s ease;
    }
    .contact:hover {
      background-color: #FFF;
      border: 1px solid #FFF;
      color: #292D37;
    }

    .social {
      display: block;
      padding: 0;

      li {
        display: inline-block;
        margin: 0 5px;

        .icon {
          display: block;
          width: 40px;
          height: 40px;
          opacity: .4;
          transition: all 0.5s ease;

          img {
            width: 100%;
            height: auto;
          }

          &:hover { opacity: 1; }
        }
      }
    }
  }
}
